body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.main{
  width:90%;
  padding:5%
}

.left-panel{
  position:absolute;
  width:40%;
}

.right-panel{
  position: absolute;
  left:50%;
  width:40%
}
