
.table-wrap{
    max-width: 100%
}

table, th, td{
    border:1px solid black
}

table{
    margin:10px;
    border:2px solid red;
}

td{
    min-width: 400px;
    max-width: 100%;
    word-wrap:break-word
}

th{
    text-align: center;
    text-transform: uppercase
}